@page
@model SoulBowl.Pages.Menus.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div id="editCenter">
    <div id="editBackground">
        <h1 id="editTitle">Editing page</h1>
        <hr />
        <div class="row" id="divRowID">
            <div class="col-md-10">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MenuItem.ID" />
                    <div class="form-group">
                        <label asp-for="MenuItem.MenuType" id="editMenuTypeLabel" class="control-label"></label>
                        <input asp-for="MenuItem.MenuType" class="form-control" />
                        <span asp-validation-for="MenuItem.MenuType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MenuItem.ItemName" id="editMenuNameLabel" class="control-label"></label>
                        <input asp-for="MenuItem.ItemName" class="form-control" />
                        <span asp-validation-for="MenuItem.ItemName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MenuItem.ItemDescription" id="editMenuDescLabel" class="control-label"></label>
                        <input asp-for="MenuItem.ItemDescription" class="form-control" />
                        <span asp-validation-for="MenuItem.ItemDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MenuItem.Allergens" id="editMenuAllergensLabel"class="control-label"></label>
                        <input asp-for="MenuItem.Allergens" class="form-control" />
                        <span asp-validation-for="MenuItem.Allergens" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MenuItem.Price" id="editMenuPriceLabel" class="control-label"></label>
                        <input asp-for="MenuItem.Price" class="form-control" />
                        <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MenuItem.ImageDescription" id="editImageDescLabel" class="control-label"></label>
                        <input asp-for="MenuItem.ImageDescription" class="form-control" />
                        <span asp-validation-for="MenuItem.ImageDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MenuItem.ImageData" id="editImageData" class="control-label">Image Upload</label>
                        <input type="file" id="file1"
                               name="file1"
                               multiple="multiple" />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="editSubmitButton" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="/Admin/IndexAdmin" id="returnButton">Return</a>
        </div>
    </div>
</div>
<div id="editSpacer"></div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
