@page
@model SoulBowl.Pages.Menus.IndexModel

@{
    ViewData["Title"] = "Menu";
}

<h1 id="MenuTitle">Menu</h1>

<h2 id="starterTitle">Starters</h2>

<div class="container text-center">
    <div class="row row-cols-3">
        @foreach (var item in Model.MenuItem) {
            <div class="col" id="menuCol">
                <div id="MenuItemName">
                    @Html.DisplayFor(modelItem => item.ItemName)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
				</div>                
                <div>
					@Html.DisplayFor(modelItem => item.Price)
				</div>
                <div> 
                    <p>       </p>
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Allergens)
                </div>
            </div>
        }
    </div>
</div>