body {
}
.col {
    color: white;
    background-color: #212529;
    font-size: medium;
    font-family: Papyrus;
    padding: 5px;
}
#MenuItemName {
    font-size: x-large;
}
#MenuTitle {
    font-size: xx-large;
    font-family:Impact;
    color:white;
    text-align:center;
}
#menusTitle {
    font-size: 50px;
    color: white;
    text-align: center;
    height: 75px;
    font-family: Papyrus;
    padding-top:20px;
    padding-bottom:10px;
}
#menuNote {
    font-size: 15px;
}
#createButton {
    width: 200px;
}
#menuNoteBox {
    text-align:justify;
}
#login {
}
#register {
}