body {
}
.col {
    color: white;
    background-color: #212529;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    padding:5px;
}
#MenuItemName {
    font-size: large;
}
#MenuTitle {
    font-size: xx-large;
    font-family:Impact;
    color:white;
    text-align:center;
}