<!DOCTYPE html>
<html lang="en">

@{
    var inMemberRole = User.IsInRole("Member");
    var inAdminRole = User.IsInRole("Admin");
}
@using SoulBowl.Data

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoulBowl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SoulBowl.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Identity.css" asp-append-version="true" />

</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#"> Soul Bowl</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbarTwo" aria-controls="offcanvasDarkNavbar" id="basketButton">
                    <svg xmlns="http://www.w3.org/2000/svg"fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                    </svg>
                </button>
                <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">A whole lot of soul in every bowl!</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <partial name="_LoginPartial" id="loginPartial" />
                        @if (inMemberRole == true || inAdminRole == true)
                        {
                            @if (inAdminRole == true)
                            {
                                <p id="adminStatement">You're logged in as an Admin</p>
                            }
                            else
                            {
                               <p id="memberStatement">You're logged in as a Member</p>
                            }
                        }
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Looking for something?" aria-label="Search">
                            <button class="btn btn-success" type="submit">Search</button>
                        </form>
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active text-light" id="homeButton" aria-current="page" asp-area="" asp-page="/Index"> Home</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" id="menuButtonHome" asp-area="" asp-page="/Menu"> Menu</a>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" id="contactButton" asp-area="" asp-page="/Contact"> Contact us</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            @if (inAdminRole == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" id="adminAreaButton" asp-page="/Admin/IndexAdmin"> Admin area</a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            }

                        </ul>

                    </div>
                </div>
                
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbarTwo" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabelTwo">Your Basket</h5>

                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div id="basketSpacer">
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" id="checkoutButton" asp-area="" asp-page="/Checkout">Checkout</a>
                    </li>
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

<footer class="text-center text-lg-start text-white" id="footerClass">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-8 col-md-6 mb-4 mb-md-0">
                    <h5 class="text">About us</h5>

                    <p>
                        The first SoulBowl restaurant was founded in Bristol in 1998 by proprietor Richard Smithson, 
                        and remains an independent family business to this day.
                        We have a talented team of chefs, managers and charismatic staff across our locations, 
                        and while each restaurant has its own charm, they all remain true to our central ethos which
                        is to provide contemporary food made with the finest ingredients, served to the highest standards.
                    </p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text">Important Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/Contact" class="text-white">Contact us</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Terms and Conditions</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="#">SoulBowl.com</a>
    </div>
    <!-- Copyright -->
</footer>
</html>